<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.105.0" manuallyInstalled="true" />
  <package id="ClosedXML.Parser" version="2.0.0" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" />
  <package id="ExcelNumberFormat" version="1.1.0" />
  <package id="Google.Apis" version="1.70.0" />
  <package id="Google.Apis.Auth" version="1.70.0" />
  <package id="Google.Apis.Core" version="1.70.0" />
  <package id="Google.Apis.Sheets.v4" version="1.70.0.3819" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="RBush.Signed" version="4.0.0" />
  <package id="SixLabors.Fonts" version="1.0.0" />
  <package id="System.CodeDom" version="7.0.0" />
  <package id="System.IO.Packaging" version="8.0.1" />
  <package id="System.Management" version="7.0.2" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" />
</packages>